PORT=3000
NODE_ENV=develeopment
POST_SERVICE_URL=http://localhost:3002
IDENTITY_SERVICE_URL=http://localhost:3001
MEDIA_SERVICE_URL=http://localhost:3003
API_GATEWAY_URL=http://localhost:3000
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_in_prod